.navbar{
    background-color: #fc4604;
}

.navbar-toggler-icon{
    background-image: url('https://cdn0.iconfinder.com/data/icons/user-interface-150/24/List_menu_toggle-512.png');
}

.nav-link{
    color: white;
    font-size: large !important;
    cursor: pointer;
}

.nav-link:hover{
    color: #73042a;
}

.btn-search{
    border-color: #73042a;
    color: #73042a;
    transition: 200ms all;
    -webkit-transition: 200ms all;
    -moz-transition: 200ms all;
    -ms-transition: 200ms all;
    -o-transition: 200ms all;
}

.btn-search:hover{
    border-color: #73042a;
    background-color: #73042a;
}

.logoNav{
    max-height: 50px;
    max-width: auto;
    animation: girar infinite 15s linear;
}

@keyframes girar{
    from{
        transform: rotate(0deg);
}
    to{
        transform: rotate(360deg);
}
}

.Links{
    text-decoration: none;
}


